.custom-file-upload {
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 78px;
    border-radius: 50%;
    border: 2px solid #ccc;
    overflow: hidden;
    cursor: pointer;
  }
  
  .custom-file-upload:hover {
    background-color: #f8f8f8;
  }
  
  .custom-file-upload > * {
    vertical-align: middle;
  }
  
  .custom-file-upload input[type="file"] {
    display: none;
  }
  